@import "https://fonts.googleapis.com/css?family=Lato:200";


.navbar-exp-page .navbar-brand {
    color: #000000;
}
.navbar-exp-page .navbar-brand:hover,
.navbar-exp-page .navbar-brand:focus {
    color: #000000;
}
/* Link */
.navbar-exp-page .navbar-nav li a {
    color: #000000;
}
.navbar-exp-page .navbar-nav > li > a:hover,
.navbar-exp-page .navbar-nav > li > a:focus {
    color: #000000;

}

.navbar-exp-page .navbar-toggle .icon-bar {
    background-color: #000000;
}



section {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: none;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    padding: 0 4vw;

}

.colored-half {
    flex: 1;
    height: 100vh;
    color: #fff;
    background: #23A6D5;
}

.white-half {
    flex: 1;
    height: 100vh;
    color: #fff;
    background: #ffffff;
}