@import "https://fonts.googleapis.com/css?family=Lato:200";



#exp-container {
  margin: 5vh 10vw;
  background: linear-gradient(90deg, rgb(231, 204, 225), rgb(248, 246, 246));
    border: rebeccapurple 2px solid;
    padding-bottom: 20vh;
}


section {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

.role {
    width: 80%;
    /* border: black solid 5px; */
    border-radius: 10px;
    align-self: center;
    display: flex;
    flex-direction: row;
}


.title-side {
    flex: 4;
    /* border: orange solid 3px; */
    display: flex;
    flex-direction: row;

}

.details-side {
    flex: 7;
    /* border: red solid 3px; */
    padding: 2vh 3vw;
}


.exp_thumbnail > img,
.exp_thumbnail a > img {
  max-width: 100%;
  height: auto;

}

.title {
    flex: 3;
    padding: 0vh 1vw;
    justify-content: center;

}

.exp_thumbnail {
    flex: 1;
    padding: 0 1vw;
    min-width: 40px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    /* border: rgb(50, 98, 168) solid 2px; */
    background: transparent;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
         -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
  }

  img {
    /* border: rgb(13, 177, 35) solid 2px; */
    padding: 2vh 0vw;

  }

  p {
    font-size: calc(10px + 1vw) ;
    color: rgb(89, 37, 156);
    font-family: 'Lato', Arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
  }

  h1 {
    font-size: calc(10px + 1vw) ;
    color: rgb(89, 37, 156);

    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
  }
  h2 {
    font-size: calc(10px + 1vw) ;
    color: rgb(89, 37, 156);

    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;

  }