@import "https://fonts.googleapis.com/css?family=Lato:200";
body {
    background: rgb(243, 242, 242);
}

a:hover, a:visited, a:link, a:active {
    color: black;
}


.navbar-projects-page .navbar-brand {
    color: #000000;
}
.navbar-projects-page .navbar-brand:hover,
.navbar-projects-page .navbar-brand:focus {
    color: #000000;
}
/* Link */
.navbar-projects-page .navbar-nav li a {
    color: #000000;
}
.navbar-projects-page .navbar-nav > li > a:hover,
.navbar-projects-page .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-projects-page .navbar-toggle .icon-bar {

    background-color: #000000;
}



.proj_thumbnail > img,
.proj_thumbnail a > img {
    display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  transition: .5s ease;
}

.proj_thumbnail:hover > img,
.proj_thumbnail:hover a > img {
    opacity: 0.3;
}


.proj_thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background: transparent;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
         -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
  }


  #projects-content-container {
      margin-top: 100px;
      padding-right: 10vw;
      padding-left: 10vw;
  }

  #projects-content-header {
    font-size: 40px;
    font-family: 'GidoleRegular';
    font-weight: lighter;
    font-style: normal;
    margin-bottom: 10vh;
  }