@import "https://fonts.googleapis.com/css?family=Lato:200";
body {
    background: rgb(247, 244, 244);
}

.navbar-projects-page .navbar-brand {
    color: #000000;
}
.navbar-projects-page .navbar-brand:hover,
.navbar-projects-page .navbar-brand:focus {
    color: #000000;
}
/* Link */
.navbar-projects-page .navbar-nav li a {
    color: #000000;
}
.navbar-projects-page .navbar-nav > li > a:hover,
.navbar-projects-page .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-projects-page .navbar-toggle .icon-bar {

    background-color: #000000;
}

.proj_thumbnail {
    padding: 10px;
}

